[user]
    email = pmav99@gmail.com
    name = Panos Mavrogiorgos
[push]
    default = simple
[diff]
    algorithm = patience
    tool = gvimdiff
[color]
    diff = auto
    status = auto
    branch = auto
    ui =true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
    autocrlf = input
    editor = vim
[grep]
    linenumber = true
[github]
    user = pmav99
[gitlab]
    user = pmav99
[bitbucket]
    user = pmav99
[apply]
    whitespace = nowarn
[pull]
    rebase = true
[include]
    path = ~/.gitconfig.local
